[Desktop Entry]
Name=javafx_example
Comment=javafx_example
Exec=/opt/javafx_example/javafx_example
Icon=/opt/javafx_example/javafx_example.png
Terminal=false
Type=Application
Categories=Unknown

